#search_form h1 {
  margin: 0; }

#search_form .form-container .input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  #search_form .form-container .input-container input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 25%;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    transition: 0.5s ease-in-out; }
    #search_form .form-container .input-container input:focus {
      width: 80%;
      border-bottom: 2px solid black;
      border-top: 1px solid black; }
  #search_form .form-container .input-container:before {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 1rem solid black; }
  #search_form .form-container .input-container:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-right: 1rem solid black; }

#verb_name h1 b:first-letter {
  text-transform: capitalize; }

#verb_name #same_conjugation > b {
  font-weight: 400 !important; }

#verb_name #same_conjugation > font {
  color: #333 !important; }
  #verb_name #same_conjugation > font b {
    font-weight: 600 !important; }

#results .uk-card {
  padding: 0;
  margin: 0.2rem;
  border: 1px solid gray;
  cursor: pointer;
  transition: 0.4s ease-in-out; }
  #results .uk-card:hover {
    background-color: gray;
    color: white; }
  #results .uk-card.selected {
    background-color: gray;
    color: white; }

#data_container #verb_acknowledgements li > p::first-letter {
  text-transform: capitalize; }

#data_container .card-heading .close-btn {
  padding: 0.1rem 0.25rem;
  transition: 0.5s; }
  #data_container .card-heading .close-btn:hover {
    background-color: #f7f7f7; }

#data_container .card-heading h3 {
  margin-bottom: 0; }

#data_container .uk-card {
  padding: 1rem 0.5rem 1rem 0.5rem; }
  #data_container .uk-card .card-heading {
    padding-bottom: 0.5rem; }
  #data_container .uk-card .verb_tense .custom-badge {
    top: 2%;
    right: 2%; }
  #data_container .uk-card .verb_tense .uk-card-title {
    margin-bottom: 0.1rem; }
  #data_container .uk-card .verb_tense .uk-text-meta {
    margin-bottom: 0.1rem; }
  #data_container .uk-card .verb_tense hr {
    margin: 0.2rem 0 1.5rem 0; }
  #data_container .uk-card .verb_tense .tense p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    transition: 0.5s; }
    #data_container .uk-card .verb_tense .tense p span:first-of-type {
      text-transform: capitalize;
      font-weight: bold; }
    #data_container .uk-card .verb_tense .tense p span[data-subjunctive], #data_container .uk-card .verb_tense .tense p span[data-imperative] {
      text-transform: lowercase !important;
      font-weight: bold; }
    #data_container .uk-card .verb_tense .tense p.hasNote {
      position: relative;
      font-weight: bold;
      color: #f0506e; }
      #data_container .uk-card .verb_tense .tense p.hasNote:after {
        content: "";
        width: 0;
        height: 0;
        border-top: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        border-right: 0.75rem solid #f0506e;
        position: absolute;
        right: 0; }

#data_container .notes label {
  display: block;
  padding: 0.2rem 0; }

#data_container .impersonal ul li > p::first-letter {
  text-transform: capitalize; }

#data_container #impersonal_simple p:first-letter {
  text-transform: capitalize; }

#data_container ul.js-filter {
  list-style: none;
  padding: 0; }
  #data_container ul.js-filter .tense-container .uk-card {
    padding-top: 2rem; }

#data_container .uk-nav li a {
  padding: 0.25rem !important;
  transition: 0.25s; }

#data_container .uk-nav .uk-active {
  position: relative;
  border-left: 2px solid black; }
  #data_container .uk-nav .uk-active a {
    transform: translateX(10%); }

#data_container .uk-subnav-pill .uk-active a {
  background-color: black; }

#data_container .uk-subnav-pill .uk-active[data-color="green"] a {
  background-color: #32d296; }

#data_container .uk-subnav-pill .uk-active[data-color="blue"] a {
  background-color: #1e87f0; }

#data_container .uk-subnav-pill .uk-active[data-color="red"] a {
  background-color: #f0506e; }
