$media_s: 640px;
$media_m: 960px;
$media_l: 1200px;
$media_xl: 1600px;

#search_form {
    h1 {
        margin: 0;
    }

    .form-container {
        .input-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            input {
                border: none;
                border-bottom: 1px solid rgba(0,0,0,0.2);
                width: 25%;
                height: 3rem;
                font-size: 2rem;
                text-align: center;
                transition: 0.5s ease-in-out;

                &:focus {
                    width: 80%;
                    border-bottom: 2px solid black;
                    border-top: 1px solid black;
                }
            }

            &:before {
                content: "";
                position: relative;
                width: 0;
                height: 0;
                border-top: 0.5rem solid transparent;
                border-bottom: 0.5rem solid transparent;
                border-left: 1rem solid black;
            }

            &:after {
                content: "";
                width: 0;
                height: 0;
                border-top: 0.5rem solid transparent;
                border-bottom: 0.5rem solid transparent;
                border-right: 1rem solid black;
            }
        }
    }
}

#verb_name {
    h1 {
        b {
            &:first-letter {
                text-transform: capitalize;
            }
        }
    }

    #same_conjugation > b {
        font-weight: 400 !important;
    }

    #same_conjugation > font {
        color: #333 !important;

        b {
            font-weight: 600 !important;
        }
    }

    #same_conjugation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: pre;

        &:after {
            font-family: "FontAwesome";
            content: '\f110';
            font-size: 2rem;
            display: none;
            margin: 0 0.2rem;
            animation: spin 1.2s linear infinite;
        }

        &.loading {
            &:after {
                display: inline-block;
            }
        }
    }
}

#results {
    .uk-card {
        padding: 0;
        margin: 0.2rem;
        border: 1px solid rgb(128, 128, 128);
        cursor: pointer;
        transition: 0.4s ease-in-out;

        &:hover {
            background-color: rgb(128, 128, 128);
            color: white;
        }

        &.selected {
            background-color: rgb(128, 128, 128);
            color: white;
        }
    }
}

#data_container {
    #acknowledgements_card {
        #verb_acknowledgements {
            li > p::first-letter {
                text-transform: capitalize;
            }

            span {
                font-weight: bold;
            }
        }

        .verb_categories {
            p {
                margin: 0;
            }

            i {
                &.green {
                    color: green;
                }

                &.red {
                    color: red;
                }
            }
        }
    }

    .card-heading {
        .close-btn {
            padding: 0.1rem 0.25rem;
            transition: 0.5s;

            &:hover {
                background-color: rgb(247,247,247);
            }
        }

        h3 {
            margin-bottom: 0;
        }
    }

    .uk-card {
        padding: 1rem 0.5rem 1rem 0.5rem;

        .card-heading {
            padding-bottom: 0.5rem;
        }

        .verb_tense {
            .custom-badge {
                top: 2%;
                right: 2%;
            }

            .uk-card-title {
                margin-bottom: 0.1rem;
            }

            .uk-text-meta {
                margin-bottom: 0.1rem;
            }

            hr {
                margin: 0.2rem 0 1.5rem 0;
            }

            .tense {
                p {
                    margin-block-start: 0.5rem;
                    margin-block-end: 0.5rem;
                    transition: 0.5s;
                    //Para los indicativos e imperativos
                    span:first-of-type {
                        text-transform: capitalize;
                        font-weight: bold;
                    }

                    span[data-subjunctive], span[data-imperative] {
                        text-transform: lowercase !important;
                        font-weight: bold;
                    }

                    &.hasNote {
                        position: relative;
                        font-weight: bold;
                        color: #f0506e;

                        &:after {
                            content: "";
                            width: 0;
                            height: 0;
                            border-top: 0.5rem solid transparent;
                            border-bottom: 0.5rem solid transparent;
                            border-right: 0.75rem solid #f0506e;
                            position: absolute;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    .notes {
        label {
            display: block;
            padding: 0.2rem 0;
        }

        .note-description {
            &:after {
                font-family: "FontAwesome";
                content: '\f110';
                font-size: 1rem;
                display: none;
                margin: 0 0.2rem;
                animation: spin 1.2s linear infinite;
            }

            &.loading {
                &:after {
                    display: inline-block;
                }
            }
        }
    }

    .tabla-resultados {
        overflow-y: scroll;
        max-height: 20rem;
        justify-content: center;

        div {
            border: 1px solid rgb(128, 128, 128);
            border-radius: 4px;
            padding: 0;
            margin-left: 0.2rem;
            margin-right: 0.2rem;
            display: flex;
            justify-content: center;
        }
    }

    .impersonal {
        ul {
            li > p::first-letter {
                text-transform: capitalize;
            }
        }
    }

    #impersonal_simple {
        p {
            &:first-letter {
                text-transform: capitalize;
            }
        }
    }

    ul.js-filter {
        list-style: none;
        padding: 0;

        .tense-container {
            .uk-card {
                padding-top: 2rem;
            }
        }
    }

    .uk-nav {
        li {
            a {
                padding: 0.25rem !important;
                transition: 0.25s;
            }
        }

        .uk-active {
            position: relative;
            border-left: 2px solid black;

            a {
                transform: translateX(10%);
            }
        }
    }

    .uk-subnav-pill {
        .uk-active {
            a {
                background-color: black;
            }

            &[data-color="green"] {
                a {
                    background-color: #32d296
                }
            }

            &[data-color="blue"] {
                a {
                    background-color: #1e87f0
                }
            }

            &[data-color="red"] {
                a {
                    background-color: #f0506e
                }
            }
        }
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.25s ease-in-out;

    i {
        position: absolute;
        top: 10%;
        font-size: 10rem;
        animation: spin 1.2s linear infinite;
    }
}

.hide {
    opacity: 0;
    z-index: -1;
}

.suggestions {
    padding: 0 20%;
}

.element_suggested {
    padding: 0.15rem 0.25rem;
    border: 1px solid #151515;
    border-radius: 4px;
    color: #151515;
    cursor: pointer;
    transition: 0.25s ease-in;

    &:hover {
        color: white;
        background: #151515;
    }
}

.offcanvas-btn {
    padding: 2rem 0.15rem;
    position: fixed;
    top: 50%;
    cursor: pointer;
    color: #333;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1;
}

.mod-width {
    width: 50%;
    left: -50%;

    .sidebar-data-container {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr;

        div {
            .app {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 0 0.25rem;
                border-radius: 5px;
                transition: 0.25s ease-in;

                &:hover {
                    background: black;
                }
            }

            .source {
                padding: 0.15rem 0.25rem;
                border-radius: 5px;
                transition: 0.25s ease-in;

                &:hover {
                    background: black;
                }
            }
        }
    }
}

.footer {
    background-color: #222;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem 1rem;
    z-index: 2;
    position: relative;
    bottom: 0;

    .footer-container, .image-container {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 0.7rem;
            padding: 0;
            margin: 0;
        }
    }

    .image-container {
        img {
            height: 100%;
            width: 100%;
            object-fit: scale-down;
        }
    }
}

.first-load{
    height: 100vh;
    &.hide{
        display:none;
    }
}

/* MEDIA QUERIES */
@media screen and (min-width: $media_s) {
    .mod-width {
        .sidebar-data-container {
            grid-template-columns: 2fr 1fr;
        }
    }

    .tabla-resultados {
        max-height: 20rem;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }

    .suggestions {
        padding: 0 5%;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        height: 4rem;

        .image-container {
            img {
                width: 60%;
            }
        }
    }
}

@media screen and (min-width: $media_m) {
    .tabla-resultados {
        max-height: 30rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .suggestions {
        padding: 0 10%;
    }

    .mod-width {

        .sidebar-data-container {

            div {
                .app {
                    flex-direction: row;
                }
            }
        }
    }
}

@media screen and (min-width: $media_l) {
    .tabla-resultados {
        max-height: 40rem;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }

    .suggestions {
        padding: 0 20%;
    }
}


/* ANIMACIONES */

@keyframes breathe {
    0% {
        transform: scale(0.2);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.2);
    }
}

@keyframes spin {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}
