@page "/"
@using Services
@using ConexionLematizador
<!-- SEARCH FORM -->
<div id="search_form" class="uk-container">
    <header>
        <h1 class="uk-text-center">Escriba un verbo</h1>
    </header>
    <div class="form-container uk-flex uk-flex-column uk-flex-middle">
        <span class="input-container">
            <input type="text" name="verb" id="form_verb" @bind="searchInput" />
        </span>
        <button type="button" class="uk-button uk-button-secondary" style="width:40%; margin-top:0.25rem;" @onclick="Search">Consultar</button>
    </div>
</div>
<hr>
<hr>
<div class="uk-container" id="data_container">
    <TablaReconocimientos @ref="tablaReconocimientos" searchText="@searchInput"></TablaReconocimientos>
</div>
@code{
    private LematizadorService _lematizador { get; set; }
    public string searchInput { get; set; }
    public TablaReconocimientos tablaReconocimientos { get; set; }
}

@functions{
    protected override void OnInitialized()
    {
        _lematizador = new LematizadorService();
    }
    private void Search()
    {
        tablaReconocimientos.SearchVerb(searchInput);
    }
}